@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
body {
  font-family: OpenSans, Arial, sans-serif;
}

@import "reset";
@import "fonts";
@import "../blocks/mixin-font-size.scss";
@import "../blocks/header/header.scss";
@import "../blocks/container.scss";
@import "../blocks/screen-1/screen-1.scss";
@import "../blocks/advantages/advantages.scss";
@import "../blocks/feedback/feedback.scss";
@import "../blocks/screen-glazing/screen-glazing.scss";
@import "../blocks/screen-title/screen-title.scss";
@import "../blocks/select-glazing/select-glazing.scss";
@import "../blocks/glazing-item/glazing-item.scss";
@import "../blocks/cold-warm/cold-warm.scss";
@import "../blocks/screen-balcony-decoration/screen-balcony-decoration.scss";
@import "../blocks/balcony-tabs/balcony-tabs.scss";
@import "../blocks/screen-gallery/screen-gallery.scss";
@import "../blocks/screen-warranty/screen-warranty.scss";
@import "../blocks/screen-pay/screen-pay.scss";
@import "../blocks/screen-promo/screen-promo.scss";
@import "../blocks/screen-contacts/screen-contacts.scss";
@import "../blocks/screen-questions/screen-questions.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/modal/modal.scss";
