.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(107, 197, 255, 0.58);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &__is-open {
    display: flex;
  }

  &__close {
    top: -45px;
    right: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 1em;
    border: none;
    background-color: transparent;
  }
}
