.screen-balcony-decoration {
  background-color: #f7f7f7;

  &__feedback {
    margin-left: auto;
  }
}

@media (max-width: 645px) {
  .screen-balcony-decoration__contaier {
    padding-bottom: 35px;
  }
}
